@import("http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css");

#logged_user{
    height: 100%;
    width: auto;
    display: block;
    padding: 5px 0px 5px 15px;
    float: right;
    color: #a2a1a9;
}
#logged_user:hover{
    color: #69686e;
}
#logged_user img{
    margin-right: 10px;
    margin-top:10px; 
}
#logged_user p{
    float: left;
    font-size:1.2em;
    
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 0;
}

.menu div{
    float: right;
}
.small-arrow{
    padding-left: 10px;
    padding-top: 12px;
    width: 15px;
}
.centered-form{
    padding: 5vh 5vh 5vh 5vh;
    min-width: 20vw;
    width: 320px;
    max-width: 90vw;
    vertical-align: middle;
    margin: 5vh auto;
    background-color:#FFF;
}
.centered-form h3{
    text-align: center;
    font-size: 2.5em;
}
#loginform{
    
    text-align: center;
    padding: 2vh 0vh 2vh 0vh;
}
#user_login,#user_pass, .textbox, .input{
    font-family: "lane";
    margin: 10px auto;
    width: 96%;
    height: 35px;
    padding: 0 2%;
    font-size: 15px;
    border: 1px solid #a2a1a9;
    border-radius: 8px;
    font-weight: 600;
    color: #69686e;
}

#loginform #wp-submit{
    font-size: 1.3em;
}
.form-button, #wp-submit{
    font-family: "lane";
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin: 15px auto;
    background-color: #00cd00;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #f8f7f7;
    padding: 5px 15px 5px 15px;
    font-size: 2em;
}
.form-button:hover, #wp-submit:hover{
    background-color: #f8f7f7;
    border: 1px solid #00cd00;
    border-radius: 3px;
    color: #00cd00;
    cursor: pointer;
}
#loginform .login-remember{
    font-weight: 800;
    text-align: center;
    margin: 15px;
}
#loginform label{
    text-align: left;
    font-weight: 600;
    color: #69686e;
}
.forgetmenot label{
    margin-left: 40%;
    margin-bottom: 15px;
    font-weight: 600;
    color: #69686e;
}
.wp-social-login-connect-with{
    display: none;
}

.wp-social-login-provider-list{
    padding: 2vh 0vh 2vh 0vh;
    width: 100%
    margin: 0 auto;
    text-align: center;
}
.wp-social-login-provider{
    margin: 10px auto;
    display: block;
    border-radius: 20px;
    padding: 10px;
    background-position: 15px center;
    color: #FFF;
    font-family: sans-serif;
    max-width: 80%;
}

.wp-social-login-provider-facebook{
    background-color: #3B5998;
}
.wp-social-login-provider-twitter{
    background-color: #4099FF;
}
.wp-social-login-provider-google{
    background-color: #d34836;
}
.wp-social-login-provider-facebook:hover{
    background-color: #334d84;
}
.wp-social-login-provider-twitter:hover{
    background-color: #3988e3;
}
.wp-social-login-provider-google:hover{
    background-color: #ad3f31;
}

.center-radio{
    margin: 10px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #69686e;
}
.form-bottom-links{
    width: 100%;
    text-align: center;
}
.form-bottom-links a{
    margin-top: 10px;
    display: block;
    padding:1px;
    font-weight: 600;
    font-size: 1.3em;
    color: #69686e;
}
.form-line{
    margin: 10px 0 10px 0;
    height: 30px;
}
.checkbox-label a{
    font-size: 1em;
    color: #69686e;
}
.checkbox-label{
    width: 80%;
    float: right;
    font-size: 1.5em;
    font-weight: 600;
    color: #69686e;
}

/********FORMVALIDATION ************/

.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
    
}
#voorwaarden .LV_validation_message{
    float: right;
    margin-right: 33%;
    margin-top: 8px;
}
.LV_valid {
    color:#00cd00;
}
	
.LV_invalid {
    color:#E74C3C;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00cd00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #E74C3C;
    color:#E74C3C
}

.header-image-small{
    height: 20vh;
}

/*   FORGOT PASSWORD */
.login h1 a {
            background-image: url(../img/logo_large.png);
            padding-bottom: 5px;
    }

.submit #wp-submit{
    width: 90%;
    font-size: 1em;
    float: none;
    padding: 0px 5px;
    font-weight: 600;
    
}
#resetpassform #wp-submit{
    font-size: 0.9em;
}
#nav{
    color: transparent;
}
#nav a{
    color: #69686e !important;
    display: block;
    text-align: center;
}
#backtoblog a{
    display: block;
    text-align: center;
}
.message{
    font-weight: 600;
    color: #69686e;
}
#login_error{
    border-left: 4px solid #E74C3C !important;
    font-size: 1.5em;
    font-weight: 600;
    color: #69686e;
    margin: 10px 0px;
}
#lostpasswordform label, #resetpassform label{
    font-size: 1em;
     font-weight: 600;
    color: #69686e;
}
.description{
    font-weight: 600;
    color: #69686e;
}
.login .message{
    border-left: 4px solid #00cd00;
    margin: 10px 0px;
}




/**********NIEUWPROJECT***********/
#primary{
    background-color: #a2a1a9;
}
.contentwrapper{
    margin: 0 auto;
    min-width: 50vw;
    width: 800px;
    max-width: 80vw;
    padding: 2vw;
    background-color: #f8f7f7;
}

.createForm label{
    display: block;
    font-size: 2em;
    padding: 0px 0;
    margin-top: 10px;
}

#projectFeaturedImage{
    padding: 10px 0;
}
.createForm .form-button{
    width: 100%;
}
/* datepicker*/
.date{
    width: 44%;
    background-color: #FFF;
    padding-right: 1% !important;
}
.date input{
    padding-top: 2.5px;
    width: 70%;
    vertical-align: top;
    background-color: transparent;
    border: 0;
    height: 30px;
    font-family: "lane";
}
.date img{
    float:right;
    height: 70%;
    margin: 1.5% 0px 1.5% 1.5%;
    box-shadow: 1px 1px 1px #a2a1a9;
    -webkit-box-shadow: 1px 1px 1px #a2a1a9;
    -moz-box-shadow: 1px 1px 1px #a2a1a9;
}
.combobox{
    width: 100%;
}
.combobox option{
    font-size: 1.2em;
    font-weight: 800 !important;
    color: #000;

}
.combobox:hover{
    cursor: pointer;
}
.left{
    float: left;
}
.right{
    float:right;
}
.ui-state-default{
    background: #f8f7f7 !important;
    color: #69686e !important;
    border:0 !important;
}
.ui-state-default:hover{
    background: #a2a1a9 !important;
    color: #FFF !important;
    font-weight: 600 !important;
    border:0 !important;
}
.ui-state-highlight{
    background: rgba(162, 161, 169, 0.50) !important;
    color: #FFF !important;
    border:0px !important;
}
.ui-datepicker{
   padding: 0 !important;
}
.ui-widget-content{
    border:0px solid #f8f7f7 !important;
    background: #FFF !important;
    
}
.ui-widget{
    font-family: "lane" !important;
    font-size: 1.4em !important;
}
.ui-widget-header{
    background: #E74C3C !important;
    color: #f8f7f7 !important;
    border: 0 !important;
}
.ui-corner-all{
    border-radius: 0px !important;
}
.ui-widget-header .ui-icon{
    background-image: url(../img/arrow_white.png) !important;
}
.ui-icon-circle-triangle-e, .ui-icon-circle-triangle-w{
    background-position: center center !important;
    background-size: cover !important;
}
.ui-icon-circle-triangle-w{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.ui-icon-circle-triangle-e{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span{
    top: 25% !important;
    margin-top: -5px !important;
}

.ui-state-hover{
    border: 0px !important;
    background: transparent !important;
    cursor:pointer; 
}
.normalize-text{
    font-weight: 800 !important;
    color: #69686e;
}
.error-message{
    width: 98%;
    border: 1px solid #E74C3C;
    padding: 1%;
    background-color: rgba(231, 76, 60, 0.2);
    border-radius: 8px;
    font-weight: 800;
    color: #69686e;
}
.error-message a{
    text-transform: uppercase;
    font-size: 1em;
    color: #69686e;
}
.labeldate{
    width: 47.5%;
}
.alert-message a{
    color: #69686e;
    font-size: 1em;
}
.alert-message{
    padding: 1%;
}
.confirm-button{
    float: left;
    font-family: "lane";
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin: 15px 1%;
    background-color: #E74C3C;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #f8f7f7;
    padding: 5px 15px 5px 15px;
    font-size: 1.2em;
}
.confirm-button:hover{
    background-color: transparent;
    border: 1px solid #E74C3C;
    color: #E74C3C;
    cursor: pointer;
}
.cancel-button{
    float: left;
    font-family: "lane";
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    display: block;
    margin: 15px 1%;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #E74C3C;
    padding: 5px 10px 5px 10px;
    font-size: 1.2em;
}
.cancel-button:hover{
    border: 1px solid #E74C3C;
}
.cancel-button, .confirm-button{
    line-height: 1em;
}
