@import("http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css");

#logged_user{
    height: 100%;
    width: auto;
    display: block;
    padding: 5px 0px 5px 15px;
    float: right;
    color: #a2a1a9;
}
#logged_user:hover{
    color: #69686e;
}
#logged_user img{
    margin-right: 10px;
    margin-top:10px; 
}
#logged_user p{
    float: left;
    font-size:1.2em;
    
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 0;
}

.menu div{
    float: right;
}
.small-arrow{
    padding-left: 10px;
    padding-top: 12px;
    width: 15px;
}
.centered-form{
    padding: 5vh 5vh 5vh 5vh;
    min-width: 20vw;
    width: 320px;
    max-width: 90vw;
    vertical-align: middle;
    margin: 5vh auto;
    background-color:#FFF;
}
.centered-form h3{
    text-align: center;
    font-size: 2.5em;
}
#loginform{
    
    text-align: center;
    padding: 2vh 0vh 2vh 0vh;
}
#user_login,#user_pass, .textbox, .input{
    margin: 10px auto;
    width: 100%;
    height: 35px;
    padding: 0 5px;
    font-size: 1.5em;
    border: 1px solid #a2a1a9;
    border-radius: 8px;
}

#loginform #wp-submit{
    font-size: 1.3em;
}
.form-button, #wp-submit{
    display: block;
    margin: 15px auto;
    background-color: #00cd00;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #f8f7f7;
    padding: 5px 15px 5px 15px;
    font-size: 2em;
}
.form-button:hover, #wp-submit:hover{
    background-color: #f8f7f7;
    border: 1px solid #00cd00;
    border-radius: 3px;
    color: #00cd00;
    cursor: pointer;
}
#loginform .login-remember{
    font-weight: 800;
    text-align: center;
    margin: 15px;
}
#loginform label{
    text-align: left;
    font-weight: 600;
    color: #69686e;
}
.forgetmenot label{
    margin-left: 40%;
    margin-bottom: 15px;
    font-weight: 600;
    color: #69686e;
}
.wp-social-login-connect-with{
    display: none;
}

.wp-social-login-provider-list{
    padding: 2vh 0vh 2vh 0vh;
    width: 100%
    margin: 0 auto;
    text-align: center;
}
.wp-social-login-provider{
    margin: 10px auto;
    display: block;
    border-radius: 20px;
    padding: 10px;
    background-position: 15px center;
    color: #FFF;
    font-family: sans-serif;
    max-width: 80%;
}

.wp-social-login-provider-facebook{
    background-color: #3B5998;
}
.wp-social-login-provider-twitter{
    background-color: #4099FF;
}
.wp-social-login-provider-google{
    background-color: #d34836;
}
.wp-social-login-provider-facebook:hover{
    background-color: #334d84;
}
.wp-social-login-provider-twitter:hover{
    background-color: #3988e3;
}
.wp-social-login-provider-google:hover{
    background-color: #ad3f31;
}

.center-radio{
    margin: 10px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #69686e;
}
.form-bottom-links{
    width: 100%;
    text-align: center;
}
.form-bottom-links a{
    margin-top: 10px;
    display: block;
    padding:1px;
    font-weight: 600;
    font-size: 1.3em;
    color: #69686e;
}
.form-line{
    margin: 10px 0 10px 0;
    height: 30px;
}
.checkbox-label a{
    font-size: 1em;
    color: #69686e;
}
.checkbox-label{
    width: 80%;
    float: right;
    font-size: 1.5em;
    font-weight: 600;
    color: #69686e;
}

/********FORMVALIDATION ************/

.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
    
}
#voorwaarden .LV_validation_message{
    float: right;
    margin-right: 33%;
    margin-top: 8px;
}
.LV_valid {
    color:#00cd00;
}
	
.LV_invalid {
    color:#E74C3C;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00cd00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #E74C3C;
    color:#E74C3C
}

.header-image-small{
    height: 20vh;
}

/*   FORGOT PASSWORD */
.login h1 a {
            background-image: url(../img/logo_large.png);
            padding-bottom: 5px;
    }

.submit #wp-submit{
    width: 90%;
    font-size: 1em;
    float: none;
    padding: 0px 5px;
    font-weight: 600;
    
}
#resetpassform #wp-submit{
    font-size: 0.9em;
}
#nav{
    color: transparent;
}
#nav a{
    color: #69686e !important;
    display: block;
    text-align: center;
}
#backtoblog a{
    display: block;
    text-align: center;
}
.message{
    font-weight: 600;
    color: #69686e;
}
#login_error{
    border-left: 4px solid #E74C3C !important;
    font-size: 1.5em;
    font-weight: 600;
    color: #69686e;
    margin: 10px 0px;
}
#lostpasswordform label, #resetpassform label{
    font-size: 1em;
     font-weight: 600;
    color: #69686e;
}
.description{
    font-weight: 600;
    color: #69686e;
}
.login .message{
    border-left: 4px solid #00cd00;
    margin: 10px 0px;
}




/**********NIEUWPROJECT***********/
#primary{
    padding: 5vh 0;
    background-color: #69686e;
}
.contentwrapper{
    margin: 0 auto;
    min-width: 50vw;
    width: 800px;
    max-width: 80vw;
    padding: 2vw;
    background-color: #f8f7f7;
}
.createForm label{
    display: block;
    font-size: 2em;
    padding: 0px 0;
    margin-top: 10px;
}

#projectFeaturedImage{
    padding: 10px 0;
}
.createForm .form-button{
    width: 100%;
}
#eventTime, #eventEndTime{
    
    width: 46.5%;
    float:left;
}
#eventEndTime{
    margin-left: 3.5%;
}
.combobox:hover{
    cursor: pointer;
}