@import("http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css");

#logged_user{
    height: 100%;
    width: auto;
    display: block;
    padding: 5px 0px 5px 15px;
    float: right;
    color: #a2a1a9;
}
#logged_user:hover{
    color: #69686e;
}
#logged_user img{
    margin-right: 10px;
    margin-top:10px; 
}
#logged_user p{
    float: left;
    font-size:1.2em;
    
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 0;
}

.menu div{
    float: right;
}
.small-arrow{
    padding-left: 10px;
    padding-top: 12px;
    width: 15px;
}
.centered-form{
    padding: 15vh 0vh 15vh 0vh;
    min-width: 20vw;
    width: 320px;
    max-width: 90vw;
    min-height: 50vh;
    vertical-align: middle;
    margin: 5px auto;
}

#loginform{
    min-height: 30vh;
    text-align: center;
    padding: 2vh 0vh 2vh 0vh;
}
#user_login,#user_pass, .textbox{
    margin: 5px 0px;
    width: 95%;
    height: 35px;
    padding: 0 5px 0 5px;
    font-size: 1.5em;
    border: 1px solid #a2a1a9;
    border-radius: 8px;
}

#loginform #wp-submit{
    font-size: 1.3em;
}
.form-button, #wp-submit{
    display: block;
    margin: 0 auto;
    background-color: #00cd00;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #f8f7f7;
    padding: 5px 15px 5px 15px;
    font-size: 2em;
}
.form-button, #wp-submit:hover{
    background-color: #f8f7f7;
    border: 1px solid #00cd00;
    border-radius: 3px;
    color: #00cd00;
    cursor: pointer;
}
#loginform .login-remember{
    font-weight: 800;
    text-align: center;
    margin: 15px;
}
.wp-social-login-connect-with{
    display: none;
}

.wp-social-login-provider-list{
    padding: 2vh 0vh 2vh 0vh;
    min-width: 20vw;
    width: 300px;
    max-width: 90vw;
    margin: 0 auto;
    text-align: center;
}
.wp-social-login-provider{
    margin: 10px 0;
    display: block;
    border-radius: 20px;
    padding: 10px;
    background-position: 15px center;
    color: #FFF;
    font-family: sans-serif;
}

.wp-social-login-provider-facebook{
    background-color: #3B5998;
}
.wp-social-login-provider-twitter{
    background-color: #4099FF;
}
.wp-social-login-provider-google{
    background-color: #d34836;
}
.wp-social-login-provider-facebook:hover{
    background-color: #334d84;
}
.wp-social-login-provider-twitter:hover{
    background-color: #3988e3;
}
.wp-social-login-provider-google:hover{
    background-color: #ad3f31;
}

.center-radio{
    margin: 10px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #69686e;
}
.form-bottom-links{
    width: 100%;
    text-align: center;
}
.form-bottom-links a{
    margin-top: 10px;
    display: block;
    padding:1px;
    font-weight: 600;
    font-size: 1.3em;
    color: #69686e;
}
.form-line{
    margin: 10px 0 10px 0;
    height: 30px;
}
.checkbox-label a{
    font-size: 1em;
    color: #69686e;
}
.checkbox-label{
    width: 80%;
    float: right;
    font-size: 1.5em;
    font-weight: 600;
    color: #69686e;
}

/********FORMVALIDATION ************/

.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
    
}
#voorwaarden .LV_validation_message{
    float: right;
    margin-right: 33%;
    margin-top: 8px;
}
.LV_valid {
    color:#00cd00;
}
	
.LV_invalid {
    color:#E74C3C;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00cd00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #E74C3C;
    color:#E74C3C
}


/*************FORGOT*************/
#forgot{
    height: 50vh;
    padding-top: 30vh;
}
body{
    background-color:#FFF;
}



